
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:ital,wght@0,700;1,700&display=swap');

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: 'Karla', sans-serif;
  font-size: 16px;

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Source Code Pro', monospace;
  }

  h3 {
    margin: 1rem 0 0;
  }


  div.split {
    margin: 0 0 0;
    padding: 0;
    width: 100%;
    height: 3px;
    //border-radius: 10rem;
    background: linear-gradient(to right, #444 0%, #ddd 50%, white 90%);
  }

  // thank you https://css-tricks.com/gradient-borders-in-css/
  section {

    margin: 0 0 2rem;
    padding: 0.4rem 0 0 0.8rem;

    border-left: solid 3px #444;

    h2 {
      margin: 0 0 0.4rem;
    }

    a {
      text-decoration: none;
    }
    // border-top: 4px solid black;
    // background-clip: padding-box;
    // border: solid 5px transparent;

    // &:before {
    //   content: '';
    //   // position: absolute;
    //   // top: 0; right: 0; bottom: 0; left: 0;
    //   z-index: -1;
    //   margin: -5px;
    //   background: linear-gradient(to right, black 40%, white 100%)
    // }

    li {

      &.gold-badge {
        background-color: #f7cb4d;
        color: black;
      }
  
      &.blue-badge {
        background-color: #5b95f9;
        color: white;
  
        &.disabled {
          background-color: #ccc;
          color: #888;
        }
      }
  
      &.red-badge {
        background-color: #ea4335;
        color: white;
  
        &.disabled {
          background-color: #ccc;
          color: #888;
        }
      }


      &.link-efa {
        background-color: #e33e42;
        color: white;
      }


      &.inverse {
        background-color: #444;
        color: white;
      }
    }
  }




  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;

    li {
      margin: 0.4rem;
      padding: 0.4rem;

      border-radius: 6px;

      box-shadow: 2px 2px 0 black;
    }
  }
}





.flags-div {
  width: 100%;
  height: 40px;
  display: flex;

  .flag {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .ocean-flag {
    width: 20%;
    flex-grow: 0;
    background-color: #a4c2f4;
  }
  
  .land-flag {
    width: 20%;
    flex-grow: 0;
    background-color: #b6d7a8;
  }

  .unity-flag {
    flex-grow: 1;
    background-color: #b4a7d6;
  }
}




#main-div {
  margin: 0 2rem;
  
}

h1.page-title {
  font-size: 3rem;
  margin: 0 0;
}

@media (max-width: 600px) {
  h1.page-title {
    font-size: 2.4rem;
  }
}

h3.page-subtitle {
  font-size: 1.6rem;
  margin: 0 0 1rem;
  font-style: italic;
}



section#section-zoom {

  li {

    background-color: #0e71eb;
    color: white;
  }
}


section#office-hours {
  
  img {
    margin: 0;
    padding: 0.4rem;
  }
}


section#resources {
  
  .link {

    &#link-learning-gym {
      background-color: #e33e42;
      color: white;
    }

    &#link-quicksilver {
      background-color: #333333;
      color: white;
    }

    &.link-course {
      background-color: #f9cb9c;
      color: black;
    }
  }
}


section#calendar {

  
}










#body-spacer {
  flex-grow: 1
}


footer {
  flex-grow: 0;
  width: 100%;
  height: 60px;
  padding: 0 1rem;

  text-align: right;
  background: linear-gradient(to right, white 0%, white 30%, #444 80%);
  // border-top-left-radius: 100%;
  color: white;
  
  a {
    color: white;
  }
}